# very easy problem where I have to move first one object of the table
folFile: "fol_lab_bench_auto.g"
confFile: "env_move_away_easy_small.g"
goal: "(on goal_table block1)"
# obsFile: "experiment5/obs_file_exp5_block1.g"
ct/max_time_seconds: 120
ct/max_it: 1000
ct/max_depth_discrete: 4




